@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 16px Helvetica;
  background: #ed6c5e;
}

section {
  width: 275px;
  background: #ecf0f1;
  padding: 0 30px 30px 30px;
  margin: 60px auto;
  text-align: center;
  border-radius: 5px;
}

span {
  display: block;
  position: relative;
  margin: 0 auto;
  top: -40px;
  height: 150px;
  width: 150px;
  background: url('medex.png') center center no-repeat, #fff;
  background-size: 120px 120px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(0,0,0,.3);
}

h1 {
  font-size: 28px;
  font-weight: 100;
  margin-bottom: 30px;
  font-family: 'Oswald', sans-serif;
}

input {
  width: 100%;
  background: #bdc3c7;
  border: none;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
  font-size: 16px;
  color: #646668;
  transition: all ease-in-out .4s;
}

input::-webkit-input-placeholder {
  color: #646668 !important;
}

input:focus {
  outline: none;
}

input[type="submit"] {
  width: 100%;
  height: 30px;
  border: none;
  background: #183883;
  color: #ecf0f1;
  font-weight: 100;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: all ease-in-out .6s;
  border-bottom: 3px solid #d33727;
}

input[type="submit"]:focus {
  outline: none;
}

input[type="submit"]:hover {
  background: #2980b9;
}

h2 {
  font-size: .75em;
}

a {
  color: #e74c3c;
  text-decoration: none;
  transition: all ease-in-out .2s;
}

a:hover {
  color: #c0392b;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 32px;
   font-weight: 400;
   font-style:normal;
   font-family: "Oswald", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
   padding-top: 2%;
   padding-bottom: 5%;
   text-align: center;
}


/*** Table Styles **/

.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:14px;
  font-weight: 100;
  padding:8px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
  border-bottom: 1px solid #22262e;
}
 
tr:hover .blbtn{
  color: #fff;
}
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:14px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:14px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}
td > div{
  width: 200px;
}
td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.logoutbtn {
  position: absolute;
  text-align: center;
  margin-top: 18px;
  margin-left: 30px;
  border-radius: 50%;
  background-color: #183883;
  border-color: #d33727;
  border-width: 3px;
}

.editdlt {
  width: 90px;
}

.blbtn {
  color: #183883;
  font-weight: 200px;
}
.logoutbtn:hover {
  background-color: #d33727;
  border-color: #183883;
  
}

@media only screen and (max-width: 900px) {
  .logoutbtn{
    position: relative;
    }
}